<div id="overlay" class="overlay"></div>
<div class="vcard">
<iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/<%= videoId %>" title="video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
<div class="card">
  <div class="card-channel">
    <a href="/c/<%= channelId %>">
    <div class="container">
    <img src="<%= channelImage %>" alt="画像">
    <%= channelName %></a>
      </div>
  </div>
  <div class="toolcard-header">
    <small class="text-muted"><button class="favorite-btn" onclick="toggleFavorite('<%= videoId %>', '<%= channelId %>', '<%= channelName %>','<%= videoTitle %>')">お気に入り</button></small>
    <small class="text-muted float-right"><%- (videoViews || "").replace(/views/g, "回再生") %></small>
  </div>
  <div class="card-body">
    <h5><%= videoTitle %></h5>
      <p><%- (videoDes || "").replace(/\n/g, "<br>") %></p>
  </div>
</div>
  <div class="comment-box">
    <h2>コメント</h2>
    <div class="iframe-container">
      <iframe src="/comment/<%= videoId %>" scrolling="yes"></iframe>
    </div>
  </div>
  <div class="tube-box">
    <div class="iframe-container">
<iframe src="/videores/<%= videoId %>" scrolling="yes"></iframe>
    </div>
  </div>
